# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more information about the EditorConfig project, see http://editorconfig.org/

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# ESLint configuration
[*.js]
indent_style = space
indent_size = 2

[*.jsx]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.tsx]
indent_style = space
indent_size = 2

# Stylelint configuration
[*.css]
indent_style = space
indent_size = 2
